@import "_mixins.scss";

@import "_palette.scss";

.about-me {
  background-color: white;
  display: flex;
  border-top: solid 1rem color(primary-color-dark);
}

.about-me-text {
  width: 50vw;
  font-family: "Roboto", sans-serif;
  color: color(primary-text-color);
  text-align: center;
  display: flex;
  @include flex-column-center;
  justify-content: center;
}

.about-me-title {
  font-weight: 700;
  font-size: 3rem;
  color: color(accent-color);
}

.about-me-subtitle {
  max-width: 50vw;
  font-size: 2rem;
  font-weight: 700;
}

.about-me-info {
  font-size: 1.5rem;
  width: 35vw;
}

.image-parent {
  width: 50vw;
  background-color: color(primary-color);
}

.image-gallery {
  height: 100%;
  @include flex-column-center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.image {
  width: 30vw;
  border: solid color(primary-color-text) 0.1rem;
  border-radius: 0.5rem;
}

@include largetablet {
  .image {
    width: 40vw;
  }
}

@include tablet {
  .image {
    width: 40vw;
  }
}

@include mobile {
}
