.about-me {
  height: 100vh;
  background-color: white;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: color(primary-text-color);
}

.about-me-title {
  font-weight: bold;
  font-size: 3rem;
  color: color(accent-color);
}

.about-me-subtitle {
  font-size: 2rem;
}

.about-me-info {
  font-size: 1.5rem;
  width: 35vw;
}
