.about-me {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.about-me-text {
  width: 50vw;
  font-family: "Roboto", sans-serif;
  color: color(primary-text-color);
  text-align: center;
  padding: 5rem;
  display: flex;
  @include flex-column-center;
  justify-content: center;
}

.about-me-title {
  font-weight: 700;
  font-size: 3rem;
  color: color(accent-color);
}

.about-me-subtitle {
  max-width: 50vw;
  font-size: 2rem;
  font-weight: 700;
}

.about-me-info {
  font-size: 1.5rem;
  width: 35vw;
}

.image-parent {
  width: 50vw;
  background-color: color(primary-color);
}

.image-gallery {
  height: 100vh;
  @include flex-column-center;
  justify-content: space-evenly;
}

.image {
  width: 22vw;
  border: solid color(divider-color) 0.2rem;
}

@include tablet {
  .about-me-text {
    padding: 0rem;
  }
  .image {
    width: 40vw;
  }
}
