@import "_mixins.scss";

@include desktop {
  html {
    font-size: 140%;
  }
}

@include largetablet {
  html {
    font-size: 100%;
  }
}

@include tablet {
  html {
    font-size: 75%;
  }
}

@include mobile {
  html {
    font-size: 50%;
  }
}
