@import "_mixins.scss";

@import "_palette.scss";

.my-work {
  background-color: white;
  margin-bottom: 5rem;
}

.my-work-title {
  font-size: 3rem;
  margin: 0;
  padding-top: 3rem;
  color: color(accent-color);
  text-align: center;
}

.my-work-subtitle {
  font-size: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-image {
  width: 40vw;
  margin: 2rem;
  border-radius: 1.5rem;
}

@include mobile {
  .collection-image {
    width: 75vw;
  }
}
