@import "_mixins.scss";

@import "_palette.scss";

#navbar {
  background-color: color(primary-color-dark);
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

#navbar-bars {
  padding-right: 0.5rem;
  opacity: 0;
  color: color(accent-color);
  @include tablet {
    display: flex;
    opacity: 1;
    font-size: 2rem;
  }
}

#navbar-logo {
  width: 3rem;
  align-items: center;
}

#navbar-menu {
  @include flex-row-center;
  margin-right: 8rem;
  text-decoration: none;
  list-style-type: none;

  @include tablet {
    display: none;
  }
}

a.active {
  transition-duration: 2s;
}

.navbar-menulinks {
  color: color(primary-color-text);
  text-decoration: none;
  padding: 1rem 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

#contacts {
  padding: 0.5rem;
  background-color: color(accent-color);
  border-radius: 2rem;
  font-weight: 900;
}

.navbar-menulinks:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 0.3s;
}

@include tablet;
