@import "_mixins.scss";

@import "_palette.scss";

.portfolio {
  @include flex-column-center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: color(primary-color-text);
}

.portfolio-image {
  width: 70vw;
  border-radius: 2rem;
}

.portfolio-title {
  font-size: 3.5rem;
  color: color(primary-text-color);
}

.portfolio-title::after {
  content: "";
  display: block;
  width: 75%;
  height: 0.1rem;
  margin: 0.5rem auto 1rem;
  background: currentColor;
}

.portfolio-subtitle {
  padding: 5rem;
  max-width: 60vw;
  font-size: 1.8rem;
  font-weight: 300;
  color: color(primary-text-color);
}

.portfolio-button {
  font-weight: 500;
  color: color(primary-color-text);
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
  background-color: color(accent-color);
  border-radius: 0.5rem;
}

.portfolio-button:hover {
  filter: grayscale(25%);
  border: solid 0.1rem color(primary-color-dark);
}
