@import "_mixins.scss";

@import "_palette.scss";

.skills {
  @include flex-column-center;
  background: gray;
  background-image: url("/images/laptop.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  justify-content: center;
}

.skills-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 7rem;
}

.skills-label {
  font-size: 4rem;
  color: color(accent-color);
  font-weight: 900;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.skills-label::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.1rem;
  margin: 0.5rem auto 1rem;
  background: currentColor;
}

.skills-column {
  text-align: center;
  color: color(primary-color-text);
  margin: 2rem;
}

.skills-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.skills-text {
  font-size: 1.5rem;
  font-weight: 300;
}

@include tablet {
  .skills-parent {
    @include flex-column-center;
    margin: 0 auto;
  }
}
